label {
  cursor: pointer;
}

.lead {
  margin-top: 15px;
}

ul.unstyled {
  list-style-type: none;
  padding: 0;
  display: inline-table;
  min-width: 90%;
  width: 350px;
}

.em-text {
  font-size: 1.3em;
}

.unstyled li {
  display: inline;
  text-align: left;
  width: 300px;
}

.content {
  /* background: lightyellow; */
}

.center-div {
  text-align: center;
}

.money::before {
  content: "THB ";
}

.money {
  color: #111;
  float: right;
}

.day {
  margin: 20px 0;
  padding: 20px 10px;
  display: block;
}

.day:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.weekday {
  background: #BEE2FB;
}

.weekend {
  background: #DCC6DD;
}

.ignore {
  background: #F5F5F5;
  text-decoration: line-through;
}
