label {
  cursor: pointer;
}

body {
  margin: 10px;
}

.unstyled {
  list-style-type: none;
  display: table-row;
}

.unstyled li {
  width: 350px;
}

.money::before {
  content: "THB ";
}

.money {
  background: #9CFF8A;
  margin: -5px -5px;
  padding: 5.5px;
  float: right;
}

.day {
  margin: 5px 0;
  padding: 5px;
  display: block;
}

.weekday {
  background: #E3D2E3;
}

.weekend {
  background: #FED6D7;
}

.ignore {
  background: #F5F5F5;
  text-decoration: line-through;
}
